#show-comments{
    border: 0.01rem solid gray;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: table;
    margin-bottom: 1rem;
    cursor: pointer;
}

#self-img{
    border-radius: 50%;
    width: 100%;
}

.tags{
   background: white;
   color: darkslategray;
   border: 1px solid gray;
   text-align: center;
   padding-left:0.2rem;
   padding-right: 0.2rem;
   display: inline-block;
   border-radius: 3px;
   //do something about these specific values
}

.tags:hover{
    background: darkslategray;
    color: white;
    text-decoration: none;
}

#tag-name{
    color: #303030;
    text-decoration: none;
}
