#show-comments{
    border: 0.01rem solid gray;
    margin: 0 auto;
    font-size: 1.5rem;
    text-align: center;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    display: table;
    margin-bottom: 1rem;
}
